
{% extends 'base.html.twig' %}

{% block title %}Список паст{% endblock %}

{% block body %}
<div class="card" style="width: 92%; margin: auto;margin-top: 10px;">
    <div class="card-body">
        <div class="example-wrapper">
            <div class=" text-center">
            <h1>Список паст</h1>

            <a type="button" class="btn btn-primary" style="margin: 10px" href="{{ path('paste_create') }}">Создать новую пасту</a>

            <ul class="list-group">
                {% for paste in pastes %}
                    <li class="list-group-item">
                        <a href="{{ path('paste_show', {'id': paste.id, 'slug' : paste.slug}) }}">{{ paste.title }}</a>

                    </li>
                {% else %}
                    <li>Нет паст для отображения.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}
